<template>
    <svg id="circle" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" class="z-10">
        <circle id="circle__outline" fill="transparent" cx="46" cy="45" r="40"></circle>
    </svg>
</template>

<style>
    #circle {
        width: 130vw;
        height: 130vw;
        position: absolute;
        top: 25vh;
        right: -62vw;
    }

    @media screen and (min-width: 768px) {
        #circle {
            width: 50vw;
            height: 50vw;
            position: absolute;
            top: 20vw;
            right: -20vw;
        }
    }

    @media screen and (min-width: 1200px) {
        #circle {
            width: 52vw;
            height: 52vw;
            position: absolute;
            top: 22vw;
            right: -25vw;
        }
    }

    @media screen and (min-width: 1600px) {
        #circle {
            top: 20vw;
        }
    }

    @keyframes circle {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
</style>