<template>
    <section class="w-full relative lg:px-14 xl:px-20 page-banner" data-aos="fade-in">
        <CircleOutline />
        <div class="flex flex-wrap xl:-mx-3">
            <div class="relative w-full lg:z-0 bg-cover bg-no-repeat bg-center page-banner__img">
                <picture>
                    <source srcset="~/assets/images/lg-page-banner.jpg" media="(min-width: 1200px)">
                    <source srcset="~/assets/images/md-page-banner.jpg" media="(min-width: 768px)">
                    <source srcset="~/assets/images/sm-page-banner.jpg">
                    <img srcset="~/assets/images/lg-page-banner.jpg" class="w-full h-auto" alt="Page banner image" />
                </picture>
            </div>
            <div class="relative bg-white w-full px-12 pt-12 pb-20 text-center md:max-w-sm md:mx-auto lg:text-left lg:w-2/3 lg:max-w-full lg:z-10 lg:mx-0 lg:-mt-24 lg:pl-12 lg:pr-32 lg:pb-32 xl:pt-16 xl:pl-20 xl:pr-48 page-banner__info" data-aos="fade-up" data-aos-duration="300">
                <h1 class="text-header text-3xl mb-10 lg:text-4xl xxl:text-5xl" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">Tailored Funding Solutions</h1>
                <p class="mb-6" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1500">We have a fully flexible capital base, which enables us to structure funding across the capital structure. We are able to provide funding from £1m to in excess of £25m.</p>
                <a href="/" class="button text-xl" tabindex="1" data-aos="fade-in" data-aos-delay="1500" data-aos-duration="500">Funding solutions</a>
            </div>
        </div>
    </section>
</template>

<script>
    import CircleOutline from '~/assets/svg/circle.vue'

    export default {    
        components: { CircleOutline }
    }
</script>

<style>
    .page-banner .page-banner__info .button:hover {
        @apply text-header;
    }

    .page-banner .page-banner__info .button:hover:before {
        @apply border-header;
    }

    .page-banner .page-banner__info.aos-animate .button:before {
        animation: buttonLine 1s 2s linear forwards;
    }

    .page-banner.aos-animate #circle #circle__outline {
        fill: transparent;
        stroke: #FF7800;
        stroke-width: 0.2;
        stroke-dasharray: 1000;
        animation: circle 5s linear forwards;
    }

    @media screen and (min-width: 1024px) {

        .page-banner__info {
            margin-top: -5rem;
        }

    }
</style>