<template>
    <section class="w-full relative what-we-do bg-navy mb-10 pt-20 pb-32 lg:mb-0" data-aos="fade-up" data-aos-duration="500">
        <div class="container mx-auto">
            <div class="flex flex-wrap md:px-12">
                <div class="relative w-full what-we-do__title">
                    <h2 class="text-white text-center text-4xl xl:text-5xl mt-4 mb-12 md:mb-8 lg:mb-0" data-aos="fade-down" data-aos-delay="300" data-aos-duration="1000">What we offer</h2>
                </div>
                <div class="relative w-full bg-cover bg-no-repeat bg-center py-20 lg:py-23 lg:bg-contain what-we-do__img">
                    <div class="relative text-white lg:flex lg:flex-no-wrap js-what-we-do__carousel">
                        <div class="relative z-20 text-center md:px-32 lg:w-1/4 lg:px-24 xl:text-left xl:mr-5 xl:px-0 xl:pr-2 xl:flex xl:flex-wrap xl:items-center xxl:pr-20 what-we-do__col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" tabindex="2" aria-hidden="false">
                            <div class="relative">
                                <h3 class="text-3xl mb-10 lg:text-2xl xl:mb-0">Flexible capital base</h3>
                                <p class="mb-12 px-2 md:px-16 lg:px-0">We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.</p>
                                <a href="/" class="button text-xl" tabindex="3" aria-hidden="false">Find out more</a>
                            </div>
                        </div>
                        <div class="relative z-20 text-center md:px-32 lg:w-1/4 lg:px-24 xl:text-left xl:mr-5 xl:px-0 xl:pr-2 xl:flex xl:flex-wrap xl:items-center xxl:pr-20 what-we-do__col" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" tabindex="4" aria-hidden="false">
                            <div class="relative">
                                <h3 class="text-3xl mb-10 lg:text-2xl xl:mb-0">We provide funding</h3>
                                <p class="mb-12 px-2 md:px-16 lg:px-0">We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.</p>
                                <a href="/" class="button text-xl" tabindex="5" aria-hidden="false">Find out more</a>
                            </div>
                        </div>
                        <div class="relative z-20 text-center md:px-32 lg:w-1/4 lg:px-24 xl:text-left xl:mr-5 xl:px-0 xl:pr-2 xl:flex xl:flex-wrap xl:items-center xxl:pr-20 what-we-do__col" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000" tabindex="6" aria-hidden="false">
                            <div class="relative">
                                <h3 class="text-3xl mb-10 lg:text-2xl xl:mb-0">Not sector specific</h3>
                                <p class="mb-12 px-2 md:px-16 lg:px-0">We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.</p>
                                <a href="/" class="button text-xl" tabindex="7" aria-hidden="false">Find out more</a>
                            </div>
                        </div>
                        <div class="relative z-20 text-center md:px-32 lg:w-1/4 lg:px-24 xl:text-left xl:mr-5 xl:px-0 xl:pr-2 xxl:mr-0 xl:flex xl:flex-wrap xl:items-center what-we-do__col" data-aos="fade-up" data-aos-delay="2000" data-aos-duration="1000" tabindex="8" aria-hidden="false">
                            <div class="relative">
                                <h3 class="text-3xl mb-10 lg:text-2xl xl:mb-0">Value-add investment</h3>
                                <p class="mb-12 px-2 md:px-16 lg:px-0">We have a fully flexible capital base, enabling us to fund across the capital structure ranging from short term debt finance to joint venture equity.</p>
                                <a href="/" class="button text-xl" tabindex="9" aria-hidden="false">Find out more</a>
                            </div>
                        </div>
                    </div>
                    <SwipeIcon />
                </div>
            </div>
        </div>
        <div class="what-we-do__mark">a<mark>.</mark>s<mark>.</mark>k</div>
    </section>
</template>

<script>
    import SwipeIcon from '~/assets/svg/swipe.vue'

    export default {
        components: { SwipeIcon },
        mounted() {
            // INIT Tiny carousel on mobile and tablet
            if (window.screen.availWidth < 1025) {
                const carousel = tns({
                    container: '.js-what-we-do__carousel',
                    loop: true,
                    items: 1,
                    nav: false,    
                    controls: false,
                    pager: false,
                    autoplay: false,
                    lazyload: true,
                    responsive: {
                        1024: {
                            items: 2,
                        }
                    }
                });
            }
            
            // Destroy carousel on larger screens
            window.addEventListener("resize", function(){
                if(carousel && window.screen.availWidth > 1024) {
                    carousel.destroy();
                }
            });
        }
    }
</script>

<style>
    .what-we-do {
        background-color: #212B37;
    }

    .what-we-do:before, .what-we-do:after {
        width: 0;
        height: 5rem;
        position: absolute;
        left: 50%;
        z-index: 100;
        border-left: 2px solid #FF7800; 
        transform: translateX(-50%);
        content: "";
    }

    .what-we-do:before {
        top: -1rem;
    }

    .what-we-do:after {
        bottom: -1rem;
    }

    .what-we-do.aos-animate:before, .what-we-do.aos-animate:after {
        animation: short-line 2.5s linear forwards;
    }

    .what-we-do .what-we-do__title {
        margin-bottom: -2rem;
        z-index: 20;
    }

    .what-we-do .what-we-do__img {
        background-image: url('~assets/images/sm-wwo-banner.jpg');
    }

    .what-we-do .what-we-do__img .tns-ovh {
        padding: 0 30px;
    }

    .what-we-do .what-we-do__col.aos-animate .button:before {
        animation: buttonLine 1s 1s linear forwards;
    }

    .what-we-do .what-we-do__col h3, .what-we-do .what-we-do__col p, .what-we-do .what-we-do__col .button {
        opacity: 0.5;
        transition: opacity .5s ease-in-out;
    }

    .what-we-do .what-we-do__col.tns-slide-active h3, .what-we-do .what-we-do__col.tns-slide-active p, .what-we-do .what-we-do__col.tns-slide-active .button {
        opacity: 1;
    }


    .what-we-do .what-we-do__col h3 {
        @apply text-silver;
    }

    .what-we-do .what-we-do__col:hover h3, .what-we-do .what-we-do__col:focus-within h3 {
        @apply text-white;
    }

    .what-we-do .what-we-do__mark {
        position: absolute;
        right: 1.5rem;
        bottom: 3rem;
        z-index: 10;
        @apply font-normal;
        @apply text-xl;
        @apply text-white;
        @apply tracking-wide;
        transform: rotate(90deg);
    }

    .what-we-do .what-we-do__mark mark {
        display: inline-block;
        background: transparent;
        @apply font-light;
        color: #FF7800;
    }

    .what-we-do svg#icon-swipe {
        width: 72px;
        height: 35px;
        position: absolute;
        left: 50%;
        bottom: 1.5rem;
        transform: translateX(-50%);
    }

    .what-we-do.aos-animate #hand {
        @apply fill-white;
        opacity: 0;
        transform-origin: 50% 100%;
        animation: hand-swipe 3.5s infinite ease;
        animation-iteration-count: 5;
    }
    
    .what-we-do #left, #right {
        @apply fill-orange;
        opacity: 0;
    }

    .what-we-do.aos-animate #right { 
        animation: arrow-right 3.5s infinite ease;
        animation-iteration-count: 5;
    }
    .what-we-do.aos-animate #left {
        animation: arrow-left 3.5s infinite ease;
        animation-iteration-count: 5;
    }

    @media screen and (min-width: 768px) {

        .what-we-do .what-we-do__img {
            background-image: url('~assets/images/md-wwo-banner.jpg');
        }

        .what-we-do .what-we-do__img .tns-ovh {
            padding: 0;
        }

        /* .what-we-do svg#icon-swipe {
            bottom: 3rem; 
        } */

    }

    @media screen and (min-width: 1024px) {

        .what-we-do:before {
            height: 8rem;
            top: -4rem;
        }

        .what-we-do:after {
            display: none;
        }

        .what-we-do.aos-animate:before {
            animation: long-line 2s linear forwards;
        }

        .what-we-do .what-we-do__title {
            margin-bottom: -2rem;
            z-index: 20;
        }
    }

    @media screen and (min-width: 1025px) {

        .what-we-do .what-we-do__img {
            background-image: url('~assets/images/lg-wwo-banner.jpg');
        }

        .what-we-do .what-we-do__col {
            min-height: 40vh;
        }

        .what-we-do .what-we-do__col:focus {
            border: 0;
            outline: 0;
            box-shadow: 0 0 10px #FF7800;
            border-radius: 3px;
            z-index: 10;
        }

        .what-we-do .what-we-do__col h3, .what-we-do .what-we-do__col p, .what-we-do .what-we-do__col .button {
            opacity: 1;
        }

        .what-we-do .what-we-do__col p, .what-we-do .what-we-do__col .button {
            position: absolute;
            display: none;
            opacity: 0;
            visibility: hidden;
            transition: position 3s, opacity 3s, visibility 3s;
        }

        .what-we-do .what-we-do__col:hover h3, .what-we-do .what-we-do__col:focus-within h3 {
            @apply mb-10;
            transition: margin 1s
        }

        .what-we-do .what-we-do__col:hover p, .what-we-do .what-we-do__col:hover .button, .what-we-do .what-we-do__col:focus-within p, .what-we-do .what-we-do__col:focus-within .button {
            position: static;
            display: block;
            visibility: visible;
            opacity: 1;
            animation: fadeIn 3s;
        }

        .what-we-do .what-we-do__mark {
            right: 3rem;
            bottom: 5rem;
            @apply text-3xl;
        }

        .what-we-do svg#icon-swipe {
            display: none;
        }
    
    }

    @media screen and (min-width: 1200px) {

        .what-we-do .what-we-do__col {
            min-height: 48vh;
        }

    }

    @keyframes short-line {
        0% { height: 0; }
        100% { height: 5rem; }
    }

    @keyframes long-line {
        0% { height: 0; }
        100% { height: 8rem; }
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1;}
    }
</style>