<template>
    <main class="overflow-hidden">
        <PageBanner />
        <WhatWeDo />
    </main>
</template>

<script>
    import PageBanner from '~/components/PageBanner.vue'
    import WhatWeDo from '~/components/WhatWeDo.vue'

    export default {
        components: {
            PageBanner,
            WhatWeDo
        }
    }
</script>

<style>        
    body {
        @apply font-martel;
        @apply text-base; 
        @apply leading-loose;
        @apply font-thin;
        @apply text-body;
        word-spacing: 1px;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-light;
        @apply leading-tight;
        @apply text-header
    }

    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-lg;
    }
    h6 {
        @apply text-base;
    }

    .button {
        z-index: 1;
        @apply text-orange;
        outline: 0;
        transition: color .5s ease-in-out;
    }

    .button:before {
        width: 0;
        height: 2px;
        content: "";
        display: inline-block;
        border-bottom: 2px solid #FF7800;
    }

    .button:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
    }

    .button:focus {
        box-shadow: 0 0 10px #FF7800;
        border-radius: 3px;
        z-index: 10;
    }

    @keyframes buttonLine {
        0% {
            width: 0;
        }
        100% {
            width: 30px;
            margin: 0 15px 0 0;
        }
    }
</style>
